<h2 id="title">Welcome to Ember</h2>

<div>
  {{#link-to "index"}}
    Back to Index
  {{/link-to}}
</div>

<div>
  {{#link-to "arg-pass"}}
    Passing arguments through components
  {{/link-to}}
</div>

<div>
  {{#link-to "regular"}}
    Regular usage
  {{/link-to}}
</div>

<div>
  {{#link-to "append"}}
    Straight up appending junk
  {{/link-to}}
</div>

<div>
  {{outlet}}
</div>